.chat-window {
  height: 90%;
  overflow-y: auto;
  max-width: 900px;
  /* align-self: center; */
}

.typing-icon-container {
  display: flex;
  width: 100%;
  align-items: end;
}

.typing-icon-bubble {
  border-radius: 1rem;
  margin: 10px 0;
  justify-content: start;
  background-color: var(--receive-bubble-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0.6rem 0.7rem 0.3rem;
}

.typing-icon {
  width: 3.7rem;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.intro-picture {
  margin-top: 2rem;
  max-width: 250px;
  border-radius: 50%;
  border-color: black;
  border: 2px solid var(--receive-bubble-color);
}

.intro-text {
  max-width: 16.5rem; /* Maximum width of the bubble */
  padding: 0.5rem 1rem; /* Padding inside the bubble */
  border-radius: 1rem; /* Rounded corners for bubble effect */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); /* Optional: some shadow for depth */
  margin: 20px 0; /* Margin for spacing between bubbles */
  background-color: var(--receive-bubble-color);
}

.intro-info {
  font: italic;
  color: gray;
}

@media screen and (min-width: 900px) {
  .chat-window {
    align-self: center;
    min-width: 900px;
  }
}
