.input-container {
  width: 100%;
  max-width: var(--max-content-width);
  height: 3.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  flex-shrink: 0;
  border-radius: 164px;
  border: 1px solid lightblue;
  background: white;
  display: flex;
  flex: 10;
}

.input-container-focused {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

.input-input {
  border: none;
  flex-grow: 1;
  height: auto;
  padding-left: 2px;
}

.input-send {
  background: none;
  height: auto;
  margin: 0.3rem;
  float: right;
}
