.menu-container {
    position: fixed;
    width: 10rem;
    background-color: white;
    border-radius: 1rem;
    z-index: 3;
    bottom: 7rem;
    padding: .7rem;
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: .5rem 0;
}

.divider {
    height: 1px;
    border: solid;
    border-width: .5px;
    border-color: var(--receive-bubble-color)
}

.clear-chat {
    color: red;
}