* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    all: unset;
}

:root {
    --primary-color: #61977B; /* Define a variable */
    --tertiary-color: #8fc490;
    --background-color: #eaf7ea;
    --light-border: #E5E6E9;

}

.window {
    height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -100;
    background-color: var(--background-color);
}

.chat-window {
    height: 90%;
}

.footer-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    background: none;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.footer-add_button-icon {
    height: 100%;
}

.footer-add_button {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.input-container {
    width: 100%;
    max-width: 40rem;
    height: 3.5rem;
    padding: .5rem 1rem .5rem 1rem;
    flex-shrink: 0;
    border-radius: 164px;
    border: 1px solid var(--light-border);
    background: white;
    display: flex;
    flex: 10;
    
}

.input-input {
    border: none;
    flex: 8;
    height: auto;
}

.input-send {
    background: none;
    flex: 1;
    height: auto;
    margin: .3rem;
}

.blurry-boi {
    position: fixed;
    background: var(--tertiary-color);
    filter: blur(100px);
    width: 15rem;
    height: 22rem;
    flex-shrink: 0;
    z-index: -99;
    border-radius: 50%;
}

.blurry-boi-1 {
    left: -30%;
    top: 3rem;
}

.blurry-boi-2 {
    bottom: 2rem;
    right: -30%;
}